@charset "UTF-8";
#shopping_box {
    width: 940px;
    height: 45px;
    padding: 0 10px;
    margin: 0 auto;
}
#shopping_line{
    float: left;
    margin: 0;
    padding: 0;
    height: 27px;
    list-style: none;
    font-size: 13px;
}
#shopping_line li {
    height: 27px;
    line-height: 27px;
    padding: 0 11px;
    display: inline-block;
}
#shopping_line .btn_shopping{
-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;
    background-color: #e95a00;color: #fff;display: inline-block;height: 28px;line-height: 28px;text-align: center;
    transition: background-color 0.2s linear 0s;border:none;cursor:pointer;}
.demo{width:700px;margin:40px auto 0 auto}
.btn:hover{background-color: #e95a00;text-decoration: none
}

.btn_operation{
	-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;
    background-color: #e95a00;color: #fff;display: inline-block;height: 28px;line-height: 28px;text-align: center;
    transition: background-color 0.2s linear 0s;border:none;cursor:pointer;
    
}

.btn_add{
		-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;
    background-color: #e95a00;color: #fff;display: inline-block;height: 40px;line-height: 28px;text-align: center;
    transition: background-color 0.2s linear 0s;border:none;cursor:pointer;
    margin-top: 20px;
    font-size: 15px;;
    font-weight: bold;
}